/* Cascading Style Sheet */

body{
    background-color:#000000;
    margin: 0;
    padding: 0;
    /* margin and padding are zero remove the defaults of the html */
}

ul{


}

li{


}

header{
    background-color: #FFA71A;
    height:100px;
}

h1{
    float: left;
    text-alight: center;
    /* margin-left: 90px; */
    /* float were forcing it to the left and allowing everything
    else to move around it */
    color: #000000;
}

nav li{
    /* display:inline-block; */


}

nav li a {
    text-decoration: none;
    /* removes the default decoration for the links */
    /* color: gray; */
    /* font-weight:900; */
    /* font-size:20px; */
    /* cursor:grab; */

}

nav li a:hover{
    color:red;

}

main{
    width: 960px;
    margin: 30px auto;
    min-height: 700px;
}

#hero{
 /* width: 800px; */
 /* height: 500px; */
/* sets height and width of the hero image */
/* border: 4px solid #000000; */
}
section{
    /* text-align: left; */
}

footer{
    text-align: center;
    background-color: #FFA71A;
    height: 100px;
}

main li:last-child{

    /* margin-right: 0px; */
}